/* Core Style */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  /* height: 100vh; */
}

.container {
  width: 1080px;
  margin: 0 auto;
  background: url(/img/bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 1rem;
}

a {
  display: block;
  color: black;
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

span {
  font-weight: bold;
}

.site-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.img-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8));
  border-radius: 1rem;
  padding: 1rem;
}

.logo-image {
  width: 8rem;
  margin-right: 1rem;
}

.logo-image__title {
  border-radius: 50%;
  font-weight: 600;
}

.with {
  width: 15rem;
}

.line-box {
  width: 80%;
  margin: 1rem auto;
}

.line {
  height: 0.4rem;
  background-color: slategrey;
}

.line-smaller {
  width: 90%;
  height: 0.4rem;
  background-color: slategrey;
  margin: 0.8rem auto;
}

.main-section {
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.sidebar-left {
  width: 45%;
  border: 1px solid violet;
  text-align: center;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8));
  border-radius: 1rem;
  padding: 1rem;
  margin-right: 1%;
}

.main-section__title {
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.tatuff-img {
  width: 10rem;
  border-radius: 50%;
  margin-top: 1rem;
}

.text-box__title {
  font-weight: bold;
  font-size: 1.8rem;
  margin-top: 1rem;
}

.text-box__subtitle {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.location-name {
  font-weight: 600;
  font-size: 1.3rem;
  margin-top: 1rem;
}

.location {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.koordinator-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-top: 1rem;
}

.koordinator-subtitle {
  font-weight: 500;
  font-size: 1rem;
  margin-top: 1rem;
}

.tel-number {
  font-size: 1.1rem;
  font-weight: bold;
  margin-top: 1rem;
}

.email-qrcode {
  margin-top: 1rem;
  display: grid;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center;
}

.email {
  font-size: 1.1rem;
  display: block;
}

.qrcod {
  margin: 1rem auto;
}

.sidebar-right {
  padding: 0.5rem;
  border: 1px solid violet;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.8));
  border-radius: 1rem;
}

.subject {
  margin-top: 2rem;
  font-weight: 600;
  line-height: 2rem;
  font-size: 1.6rem;
  text-align: center;
}

.data-time {
  font-weight: bold;
  font-style: italic;
  font-size: 1.4rem;
  margin-top: 2rem;
  text-align: center;
}

.anjuman {
  font-weight: bold;
  font-size: 1.2rem;
  margin-top: 2rem;
}

.items {
  margin-top: 1rem;
  margin-left: 2rem;
}

.item-list {
  font-size: 1.2rem;
  margin: 0.8rem 0;
}

.anjuman-subtitle {
  margin-top: 2rem;
  font-weight: bold;
  font-size: 1.8rem;
  text-align: center;
}

.anjuman-items {
  margin-top: 2rem;
  margin-left: 2rem;
}

.anjuman-items__list {
  font-size: 1.2rem;
  margin: 0.8rem 0;
}

.border {
  border: 1px solid violet;
}